@charset "UTF-8";



@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-mkxget');
	src:url('../fonts/icomoon.eot?#iefix-mkxget') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-mkxget') format('woff'),
		url('../fonts/icomoon.ttf?-mkxget') format('truetype'),
		url('../fonts/icomoon.svg?-mkxget#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cerrar:before {
	content: "\f057";
}
.icon-mail:before {
	content: "\e600";
}
.icon-flechas-iz:before {
	content: "\e601";
}
.icon-flechas-der:before {
	content: "\e603";
}
.icon-telefono:before {
	content: "\e604";
}
.icon-location:before {
	content: "\e605";
}
.icon-facebook:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e607";
}




body{
	background: #EEE;
	color: #696969;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	font-size: 16px;
}

footer{
	background: #000;
	padding: 2em 1em;
	text-align: center;
}

footer form{
	margin: auto;
	width: 18em;
}

footer form #casillas{
	width: 100%;
}

footer form #casillas input{
	background: #333;
	border: none;
	color: white;
	font-size: 0.8em;
	font-weight: lighter;
	margin-bottom: 0.5em;
	padding: 0.2em;
	width: 98%;
}

footer form #casillas textarea{
	background: #333;
	border: none;
	color: white;
	font-size: 0.8em;
	font-weight: lighter;
	height: 5em;
	padding: 0.2em;
	resize: none;
	width: 98%;
}

footer form #casillas input:focus, footer form #casillas textarea:focus{
	background: #EEE;
	color: #696969;
}

footer form #botones{
	display: block;
	text-align: center;
	width: 100%;
}

footer form #botones .button{
	background: #BFD600;
	border: none;
	display: inline-block;
	font-size: 0.9em;
	font-weight: lighter;
	margin: 0.5em 0.4em;
	padding: 0.2em;
	transition: all 0.3s;
	width: 9em;
}

footer form #botones .button:hover {
	background: #0091B5;
	color: #FFF;
}

footer #datos{
	margin: 3em auto;
	text-align: center;
	width: 18em;
}

footer #datos p{
	color: rgba(255,255,255,0.7);
}

footer #datos .direccion {
	font-family: 'Lato', sans-serif;
}

footer #datos p strong{
	color: white;
	text-transform: uppercase;
}

footer #datos #copy{
	color: white;
	font-size: 0.8em;
	margin-top: 2.5em;
}

header{
	background: #FFF;
	background-image: url(../images/h-bg.png);
	background-position: 2em -1px;
	background-repeat: no-repeat;
	border-top: 8px solid #BFD600;
	padding-top: 2em;
	position: relative;
}

header h1{
	display: none;
}

header #logo img{
	margin: 1em 0 1em 2em;
	width: 250px;
	transition: all 0.3s;
}



header #redes{
	position: absolute;
	top: 0.5em;
	right: 1em;
}

header #redes ul{
	list-style: none;
	margin: 0;
}

header #redes ul li{
	border-left: thin solid #0091B5;
	display: inline-block;
}

header #redes ul li:first-child{
	border-left: none;
	margin-right: 0.3em;
}

header #redes ul li a{
	color: #0091B5;
	display: block;
	padding: 0.3em;
	text-decoration: none;
}

nav{
	background: #C0C0C0;
	width: 100%;
}

nav ul{
	display: table;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

nav ul li{
	display: table-cell;
	margin: 0;
	padding: 0;
}

nav ul li a{
	color: #0091B5;
	cursor: alias;
	display: block;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
}

nav ul li a:hover{
	background: #0091B5;
	color: #FFF;
}

nav ul li .activo{
	background: #BFD600;
	color: #000;
}

#banner {
	background: #404040;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	display: none;
	height: 400px;
	position: relative;
	width: 100%;
}

#banner  #botones {
	bottom: 2em;
	right: 10%;
	position: absolute;
	z-index: 100000;
}

#banner  #botones ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#banner  #botones ul li {
	display: inline-block;
	margin: 0 -1.5px;
	padding: 0;
}

#banner  #botones ul li a {
	background: #BFD600;
	border-radius: 0.2em 0 0 0.2em;
	color: #000;
	display: block;
	font-size: 1.2em;
	margin: 0;
	padding: 0.2em 0.6em;
	text-decoration: none;
	transition: all 0.3s;
}

#banner  #botones ul li:last-child a {
	border-left: thin solid #000;
	border-radius: 0 0.2em 0.2em 0;
}

#banner  #botones ul li a:hover {
	background: rgba(255, 255, 255, 0.5);
	color: #000;
}

#banner #slider {
	height: 100%;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#banner #slider .elementos {
	display: none;
	height: 100%;
	position: relative;
	width: 100%;
}

#banner #slider .elementos h2 {
	color: #FFF;
	font-size: 1.7em;
	font-weight: lighter;
	left: 3em;
	letter-spacing: 0.1em;
	margin: 0;
	position: absolute;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	top: 1em;
}

#banner #slider .visible {
	display: block;
}

#banner #slider #ele1 {
	background: url(../images/imagen1.jpg) center no-repeat;
	background-size: cover;
}

#banner #slider #ele2 {
	background: url(../images/imagen2.jpg) no-repeat;
	background-size: cover;
}

#banner #slider #ele3 {
	background: url(../images/imagen3.jpg) center no-repeat;
	background-size: cover;
}

#banner #slider #ele4 {
	background: url(../images/imagen4.jpg) center no-repeat;
	background-size: cover;
}

#contenido{
	margin: 1em auto;
	width: 95%;
}

#contenido .item{
	margin: 3em 0;
}

#contenido .item h2{
	text-align: center;
}

#contenido_p{
	margin: 1em auto;
}

#contenido_p .proyecto{
	display: inline-block;
	margin: 1em 0.5em;
	vertical-align: top;
}

#contenido_p .proyecto figure,
#contenido_p .proyecto ul{
	float: left;
	margin: 0;
}

#contenido_p .proyecto figure img{
	border-radius: 1em 0 1em 1em;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
	width: 250px;
}

#contenido_p .proyecto ul{
	box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
	list-style: none;
	padding: 0;
}

#contenido_p .proyecto ul li a{
	background: #6a6b6c;
	color: #fff;
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
}

#contenido_p .proyecto ul li a:hover{
	background: #0091B5;
}

#contenido_p .proyecto ul li:first-child{
	border-bottom: thin solid #EEE;
}

#contenido_po h2 {
	color: #0091B5;
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 1em;
	text-transform: uppercase;
}

#contenido_po .clasificacion {
	margin: 3em 2em;
}

#contenido_po .thumbnail {
	display: inline-block;
	vertical-align: top;
}

#equipo{
	margin: 1em auto;
	max-width: 18.5em;
	text-align: center;
}

#equipo h2{
	color: #0091B5;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#equipo .persona{
	display: inline-block;
	margin: 0 1em 4em;
	text-align: center;
	vertical-align: top;
	width: 6.3em;
}

#equipo .persona h3{
	color: #515151;
	font-size: 1em;
}

#equipo .persona p{
	font-size: 0.9em;
}

#equipo .persona p em{
	color: #0091B5;
}

#equipo .persona .rostro {
	height: 5em;
	position: relative;
}

#equipo .persona .rostro .imagen {
	border-radius: 0.2em;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
	cursor: progress;
	height: 5em;
	left: 0.6em;
	position: absolute;
	top: 0;
	transition: all 0.2s;
	width: 5em;
}

#equipo .persona .rostro .imagen:hover {
	border-radius: 50%;
	height: 6em;
	left: 0;
	top: -0.5em;
	width: 6em;
}

#equipo .persona .rostro #felo {
	background: url(../images/felo.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #felo:hover {
	background: url(../images/felo2.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #andres {
	background: url(../images/andres.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #andres:hover {
	background: url(../images/andres2.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #gabo {
	background: url(../images/gabo.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #gabo:hover {
	background: url(../images/gabo2.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #grace {
	background: url(../images/grace.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #grace:hover {
	background: url(../images/grace2.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #mary {
	background: url(../images/mary.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #mary:hover {
	background: url(../images/mary2.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #mado {
	background: url(../images/mado.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #mado:hover {
	background: url(../images/mado2.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #gonza {
	background: url(../images/gonza.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #gonza:hover {
	background: url(../images/gonza2.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #alejo {
	background: url(../images/alejo.jpg) center no-repeat;
	background-size: cover;
}

#equipo .persona .rostro #alejo:hover {
	background: url(../images/alejo2.jpg) center no-repeat;
	background-size: cover;
}


/* GALERIA */

#contenido_po .boton img {
	border: thin solid #AFAFAF;
}

#contenido_po .overlay {
	background-color: rgba(0, 0, 0, 0.75);
	bottom: 0;
	cursor: default;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 10000000;
}

#contenido_po .overlay:target {
	visibility: visible;
	opacity: 1;
}

#contenido_po .popup {
	background-color: white;
	display: inline-block;
	left: 50%;
	opacity: 0;
	padding: 25px;
	position: fixed;
	text-align: center;
	top: 30%;
	visibility: hidden;
	width: 65%;
	z-index: 10000001;

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#contenido_po .popup img {
	width: 80%;
}

#contenido_po .overlay:target+.popup {
	top: 50%;
	opacity: 1;
	visibility: visible;
}

#contenido_po .icon-cerrar {
	color: #BFD600;
	font-size: 1.3em;
	position: absolute;
	right: 0.5em;
	text-decoration: none;
	top: 0.5em;
}

#contenido_po .icon-cerrar:hover {
	color: #000;
}

#contenido_po .icon-flechas-iz{
	background-color: rgba(0,0,0,0.1);
	color: #424242;
	left: 0;
	padding: 1.3em;
	position: absolute;
	text-decoration: none;
	top:43%;
}

#contenido_po .icon-flechas-iz:hover{
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFF;
}

#contenido_po .icon-flechas-der{
	background-color: rgba(0,0,0,0.1);
	color: #424242;
	right: 0;
	padding: 1.3em;
	position: absolute;
	text-decoration: none;
	top:43%;
}

#contenido_po .icon-flechas-der:hover{
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFF;
}



@media screen and (min-width: 800px){

	footer form{
		display: inline-block;
		margin-right: 2em;
		vertical-align: top;
	}

	footer #datos{
		border-left: thin solid rgba(255,255,255,0.3);
		display: inline-block;
		margin: 0 0 0 2em;
		padding: 0 0 0 4em;
		text-align: left;
		vertical-align: top;
	}

	header{
		background-position: 4em -1px;
		padding-bottom: 1em;
	}

	header #logo img {
		margin: 0 0 0.5em 3em;
		width: 300px;
	}

	header #logo img:hover{
		margin: 0 0 0.5em 6em;
	}

	nav{
		background: none;
		bottom: 0px;
		position: absolute;
		right: 0px;
		width: 27em;
	}

	nav ul li a {
		padding: 0.5em 1.5em;
	}

	nav ul li a:hover{
		border-radius: 0.5em 0.5em 0 0;
	}

	nav ul li .activo{
		border-radius: 0.5em 0.5em 0 0;
	}

	#banner {
		display: block;
	}

	#contenido .item{
		display: inline-block;
		margin: 2em 2%;
		vertical-align: top;
		width: 44.5%;
	}

	#contenido_p .proyecto figure img{
		width: 400px;
	}

	#equipo{
		max-width: 38em;
	}
}





@media screen and (min-width: 1100px){

	footer form{
		margin-right: 4em;
	}

	footer #datos{
		margin: 0 0 0 4em;
		padding: 0 0 0 8em;
	}

	#contenido .item{
		width: 20%;
	}

	#contenido_p{
		max-width: 62em;
	}

	#equipo{
		max-width: 75em;
	}
}






